---
layout: default
---

<div class="home">

  <h1 class="page-heading" id="posts">About Me</h1>
  <div class="about">
    <p>Currently a student at Cornell University majoring in Computer Science along with minors in Electrical and Computer Engineering and Business. At school I am a part of CUAppDev, a project team that produces iOS apps. When I'm not working, I'm usually playing sports, watching movies or doing the daily crossword puzzle. </p>
    <p>I like to open source as much of my software as I can. My GitHub page can be found <a href="http://github.com/drewsdunne">here</a></p>
  </div>

  <h1 class="page-heading" id="posts">Projects</h1>
  <ul class="post-list">
      <li>
        <h2 class="project-header">
          <a class="post-link" href="https://github.com/drewsdunne/FuchsiaFox">Graphic Equalizer Display</a>
        </h2>
        <ul class="skill-list">
          <li>C</li>
          <li>ARM M4</li>
        </ul>
        <p class="post-preview">
          Using the FRDM K64 board, my partner and I wrote interfaces for the LED matrix and audio filtering chip from scratch. Using these interfaces we then wrote a program to display the audio bands amplitude outputted from the chip on the display to react with music. 
        </p>
      </li>
      <li>
        <h2 class="project-header">
          <a class="post-link" href="https://github.com/cuappdev/podcast-ios">Podcasts</a>
        </h2>
        <ul class="skill-list">
          <li>Swift</li>
        </ul>
        <p class="post-preview">
          An iOS app for discovering and listening to new podcast content. Integrates a social media aspect into the podcast environment. This app was developed with CUAppDev. 
        </p>
      </li>
      <li>
        <h2 class="project-header">
          <a class="post-link" href="https://github.com/drewsdunne/Clue">Clue - CS3110 Final Project</a>
        </h2>
        <ul class="skill-list">
          <li>OCaml</li>
        </ul>
        <p class="post-preview">
          A version of the Parker Brothers' classic Clue game written in OCaml. This project was developed for my CS 3110 class at Cornell. 
        </p>
      </li>
      <li>
        <h2 class="project-header">
          <a class="post-link" href="http://github.com/drewsdunne/hues">Hues - touch the square</a>
        </h2>
        <ul class="skill-list">
          <li>Objective-C</li>
          <li>Swift</li>
        </ul>
        <p class="post-preview">
          An iPhone game about identifying slight changes in hue. This is my first (nearly) complete iPhone game. Currently I am trying to convert the game to Swift from Objective-C.
        </p>
      </li>
      <li>
        <h2 class="project-header">
          <a class="post-link" href="http://github.com/Knowinnovation/KiStorm">KiStorm</a>
        </h2>
        <ul class="skill-list">
          <li>Polymer</li>
          <li>JavaScript</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
        <p class="post-preview">
          A web application for diverging and converging on ideas. Made for knowinnovation for facilitating their workshops in a virtual setting (Work-in-progress).
        </p>
      </li>
      <li>
        <h2 class="project-header">
          <a class="post-link" href="http://github.com/knowinnovation/kitimer">KiTimer</a>
        </h2>
        <ul class="skill-list">
        <li>Swift</li>
          <li>Objective-C</li>
        </ul>
        <p class="post-preview">
          An iPhone app for managing timers wirelessly. Control a timer on another iOS device over Bluetooth or WiFi. Available on the App Store. 
        </p>
      </li>
  </ul>

  <h1 class="page-heading" id="posts">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.type == 'text' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-preview">
          {{ post.description }}
        </p>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  <!-- <h1 class="page-heading" id="photos">Photos</h1> -->

  <!-- <ul class="post-list">
    {% for post in site.posts %}
    {% if post.type == 'image' %}
      <li>
          {{post.content}}
      </li>
    {% endif %}
    {% endfor %}
  </ul> -->

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
