<header class="site-header">

  <div class="normal-header">
    <div class="header-img"></div>
    <div class="title-float">
      <a class="site-title" href="{{ site.baseurl }}/">
          {{ site.title }}
      </a>
    </div>
    <div class="title-bottom">
      <ul>
        <li><a href="http://github.com/drewsdunne"><img src="/img/github.svg"></a></li>
        <li><a href="http://linkedin.com/u/drewsdunne"><img src="/img/linkedin.svg"></a></li>
      </ul>
    </div>
  </div>

  <div class="mobile-header">
    <div class="header-img"></div>
    <a class="site-title" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
  </div>

</header>
